body {
	padding: 0;
	margin: 0;
}
html {
	font-size: 18px;
	font-family: Helvetica;
	line-height: 1.4;
}
.top {
	background: url(../images/background.png);
	height: 30rem;
	width: 100vw;
	background-size: cover;
	margin: 0;
}
.flex-container {
	background-color: cadetblue;
	display: flex;
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: 10rem;
	justify-content: space-between;
	margin-top: 1rem;
}
.logo-nav {
	display: flex;
	padding: 1rem 0 1rem 2rem;
	align-items: center;
}
.logo-nav img {
	height: 1.5rem;
	padding-right: 1rem;
}
.logo-title, .nav-bar-desktop {
	font-size: 1rem;
	color: white;
}
.nav-bar-desktop {
	display: flex;
	align-items: center;
	padding: 1rem 0;

}
.nav-bar-desktop li {
	padding-right: 2rem;

}
.headline-container {
	display: flex;
	max-width: 996px;
	margin: 0 auto;
	justify-content: flex-end;
}
.headline-box {
	display: flex;
	background-color: white;
	padding: 1.5rem 5rem;
	position: absolute;
}
.headline-text {
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
}
.sitecontainer {
	border: 2px solid black;
	display: flex;
	max-width: 960px;
	margin: 0 auto;
	

}













































